{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp</title>
    <link rel="stylesheet" href="{% static 'todo_app/css/style.css' %}">
    <script src="{% static 'todo_app/js/script.js' %}" defer> </script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="menu">
        <h1 style="font-family: Playfair Display; font-size: 32px;">Todo<span style="color: #D4622A;">.</span></h1>
    
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>
</html>